<!DOCTYPE html>
<html>

  <head>
	<title>Jigsaw Summary</title>
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
    
    <link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="style.css" />
	<script type="text/javascript" src="summary_stats.js"></script>
    <script src="script.js"></script>
  </head>

<body ng-app="main" ng-controller="DemoCtrl">
	<label data-ng-repeat="result in genomes">
	<input name="genome" type="radio" ng-model="$parent.genomeFilter" ng-value="result">{{result}}</input>
	</label>

    <table ng-table="tableParams" class="table">
    <tr ng-repeat="result in $data | filter:genomeFilter">
		<td data-title="'Analysis ID'" sortable="'ANALYSIS_ID'">{{result.ANALYSIS_ID}}</td>
		<td data-title="'Sample ID'" sortable="'SAMPLE_ID'">{{result.SAMPLE_ID}}</td>
		<td data-title="'Conditions'" sortable="'PARAMS'">{{result.PARAMS}}</td>
		<td data-title="'genome %'" sortable="'QUASTbrokenGenomefraction'">{{result.QUASTbrokenGenomefraction}}</td>
		<td data-title="'#contigs'" sortable="'QUASTbrokencontigs'">{{result.QUASTbrokencontigs}}</td>
		<td data-title="'#misassemblies'" sortable="'QUASTbrokenmisassemblies'">{{result.QUASTbrokenmisassemblies}}</td>
		<td data-title="'Largest Alignment'" sortable="'QUASTbrokenLargestalignment'">{{result.QUASTbrokenLargestalignment}}</td>
		<td data-title="'Median Insert Size'" sortable="'FIREBRANDinsert_size_median'">{{result.FIREBRANDinsert_size_median}}</td>
		<td data-title="'Insert StdDev'" sortable="'FIREBRANDinsert_size_stdev'">{{result.FIREBRANDinsert_size_stdev}}</td>
		<td data-title="'Mean Read Len'" sortable="'FIREBRANDmean_read_length'">{{result.FIREBRANDmean_read_length}}</td>
		<td data-title="'NGA50'" sortable="'QUASTbrokenNGA50'">{{result.QUASTbrokenNGA50}}</td>
		<td data-title="'Links'">
			<ul>
				<li><a href="{{result.ANALYSIS_ID}}/Alignment">Alignment</a></li>
				<li><a href="{{result.ANALYSIS_ID}}/quast//{{result.SAMPLE_ID}}/report.html">Quast</a></li>
				<li><a href="{{result.ANALYSIS_ID}}/firebrand/{{result.SAMPLE_ID}}/report/firebrandReport.html">Firebrand</a></li>
				<li><a href="{{result.ANALYSIS_ID}}/visualization/{{result.SAMPLE_ID}}/dotplot.png">Dot plot</a></li>
			</ul>
		</td>
    </tr>
    </table>

</body>
</html>
