<!DOCTYPE html>
<html>

  <head>
	<title>Jigsaw Summary</title>
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
    
    <link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="style.css" />
	<script type="text/javascript" src="summary_stats.js"></script>
    <script src="script.js"></script>
  </head>

<body ng-app="main" ng-controller="DemoCtrl">
	<label data-ng-repeat="result in genomes">
	<input name="genome" type="radio" ng-model="$parent.genomeFilter" ng-value="result">{{result}}</input>
	</label>
<div><button ng-click="showColumnChooser=!showColumnChooser">Select Columns</button>
	<span ng-show="showColumnChooser">
    <label class="checkbox" ng-repeat="column in columns">
        <input type="checkbox" ng-model="column.visible" /> {{column.title}}
    </label>
	</span>
</div>

	<table ng-table="tableParams" class="table" show-filter="true" ng-hide="showColumnChooser">
		<thead>
			<tr>
				<th ng-repeat="column in columns" ng-show="column.visible"
					class="text-center sortable" ng-class="{
					    'sort-asc': tableParams.isSortBy(column.field, 'asc'),
					    'sort-desc': tableParams.isSortBy(column.field, 'desc')
					  }"
					ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
				{{column.title}}
			    </th>
				<th class="text-center">Links
				</th>
			</tr>
		</thead>
		<tbody>
		    <tr ng-repeat="result in $data | filter:genomeFilter">
			<td ng-repeat="column in columns" ng-show="column.visible" sortable="column.field">
				{{result[column.field]}}
			</td>
			<td>
				<ul>
					<li><a href="{{result.ANALYSIS_ID}}/Alignment">Alignment</a></li>
					<li><a href="{{result.ANALYSIS_ID}}/quast//{{result.SAMPLE_ID}}/report.html">Quast</a></li>
					<li><a href="{{result.ANALYSIS_ID}}/firebrand/{{result.SAMPLE_ID}}/report/firebrandReport.html">Firebrand</a></li>
					<li><a href="{{result.ANALYSIS_ID}}/visualization/{{result.SAMPLE_ID}}/dotplot.png">Dot plot</a></li>
				</ul>
			</td>
		    </tr>
		</tbody>
	</table>

</body>
</html>
